*{
	overflow-x: hidden;
	overflow-y: auto;
}
.dostavka{
	display: flex;
	flex-direction: row;
	font-size: 14px;
	color: grey;
	justify-content: space-between;
	align-items: center;
}
.oplata a{
	text-decoration: none;
}	
.electro{
	font-size: 20px;
	border: 2px solid darkblue;
	background-color: skyblue;
	padding: 5px 10px 5px 10px;
	margin-left: 50px;
	color: darkblue;
}
.korzina{
	height: 50px;
	width: 100px;
	border: 2px solid darkblue;
	/*margin-left: 900px;*/
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 20px;
	background-color: skyblue;
	font-size: 16px;
	color: darkblue;
}
.korzina a{
	text-decoration: none;
}
.korzina:hover{
	color: white;
}
.korzina2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.internet{
	font-size: 16px;
	color: darkblue;
	align-items: center;
	width: fit-content;
	margin-left: 15%;
}
.menu{
	display: flex;
	flex-direction: row;
	border: 2px solid blue;
	justify-content: space-between;
	font-size: 16px;
	background-color: skyblue;
	height: 60px;
	align-items: center;
	/*position: relative;*/
	padding-right: 20px;

	}
.menu a{
	text-decoration: none;
	display: block;
	}
.menu a:hover{
	color: red;
	}
.tech:hover .large{
display: block;
}
.small:hover .small1{
display: block;
}
.kitchen:hover .tehnica{
	display: block;
}
.tele:hover .samsung{
	display: block;
}
.climat:hover .pogoda{
	display: block;
}
.krasota:hover .fen{
	display: block;
}
.large,
.small1,
.tehnica,
.samsung,
.pogoda,
.fen{
	position: absolute;
  display: none;
  z-index: 1;
  font-size: 16px;
  /*left: 0;
  top: 100%;
  padding: 0;*/
  background-color: skyblue;
  border: 1px solid black;
}
.akcii{
	height: 500px;
	width: 1200px;
	position: relative;
	overflow-y: hidden;
	padding-top: 50px;
	margin-top: 80px;
	margin: auto;
}
.akcii img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

footer{
	height: 350px;
	width: 1200px;
}
.footertitle{
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: darkblue;
}
.end{
	display: flex;
	flex-direction: row;
	color: darkblue;
	font-size: 12px;
	justify-content: space-between;

}
.footer1{
	margin-left: 5px;
	}
.icons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
	height: 30px;
	width: 150px;
}
.fa-telegram{
	color: darkblue;
}
.fa-viber{
	color: violet;
}
.fa-whatsapp{
	color: green;
}
.fa-facebook{
	color: darkblue;
}
.fa-skype{
	color: darkblue;
}
.fa-at{
	color: black;
}
.kabinet{
	padding-left: 60px;
	font-size: 14px;
}
.kabinet h4{
	padding-left: 40px;
}
.kabinet a{
	text-decoration: none;
}
.kabinet a:hover{
	color: red;
}
.news{
	padding-left: 60px;
	font-size: 14px;
}
.news h4{
	padding-left: 40px
}
.news a{
	text-decoration: none;
}
.news a:hover{
	color: red;
}
.footer2{
	padding-left: 60px;
	padding-bottom: 10px;
	font-size: 14px;
}
/*______________*/
.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.row1{
	display: none;
}
.ten:hover .row1{
	display: block;
}
.one{
	height: 100px;
	width: 200px;
	background-color: red;
	border: 2px solid black;
}
.all{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}
/*______________*/

/*body{
background-color: skyblue;
}*/
.dvad{
	width: 250px;
	height: 350px;
	border: 2px solid darkblue;
	background-color: white;
	font-size: 14px;
	color: darkblue;
	padding-left: 10px;
	font-weight: bold;
}
.holod{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 20px;
	margin: 10px 10px 10px 10px;
}
.sorok{
	width: 250px;
	height: 350px;
	border: 2px solid darkblue;
	background-color: white;
	font-size: 14px;
	color: darkblue;
	padding-left: 10px;
	font-weight: bold;
}
.stirka{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 20px;
	margin: 10px 10px 10px 10px;
}
button{
	margin-left: 120px;
	background-color: skyblue;
}
button a{
	text-decoration: none;
}
button a:hover {
	color: white;
}
/*__________________*/
h3{
	color: darkblue;
	text-align: center;
}
.contact{
	font-size: 16px;
	color: darkblue;
	margin: 20px 30px 20px 30px;
	text-align: center;
}

.kredit,
.oplata,
.help,
.vakansii{	
	font-size: 16px;
	color: darkblue;
	margin: 20px 30px 20px 30px;
}
.contact p{
    text-indent: 50px;
	font-size: 18px;
	padding-left: 50px;
	padding-right: 50px;
}
.kredit p{
	text-indent: 50px;
	font-size: 18px;
	padding-left: 50px;
	padding-right: 50px;
}
.oplata p{
	text-indent: 50px;
	font-size: 18px;
	padding-left: 50px;
	padding-right: 50px;
}
.help p{
	text-indent: 50px;
	font-size: 18px;
	padding-left: 50px;
	padding-right: 50px;
}
.vakansii p{
	text-indent: 50px;
	font-size: 18px;
	padding-left: 50px;
	padding-right: 50px;
}
.knopka{
	position: fixed;
	right: 5%;
	display: none;
}












@media(max-width:1200px){
	.electro{
		padding: 15px 20px 15px 20px;
	}
	}
@media(max-width:992px){
	
	.internet{
		margin-left: 200px;
	}
	.end{
		font-size: 10px;
		width: fit-content;
	}
}
@media(max-width:768px){
	.dostavka{
		margin-left: 0;
	}
	.internet{
		margin-left: 0;
	}
	.electro{
		font-size: 16px;
	}
	.menu{
		display: flex;
		flex-direction: column;
		position: absolute;
		left: -100%;
		height: 300px;
		z-index: 1;
		font-size: 14px;
	}
	.event{
		left: 0;
	}
	.large,
	.small1,
    .tehnica,
    .samsung,
    .pogoda,
    .fen{
	display: none;
	position: relative;
	left: 50px;
	top: 0;
	font-size: 14px;
	width: fit-content;
	}

	.knopka{
		display: block;
	}
	.end{
		font-size: 10px;
		width: fit-content;
	}
	.kabinet{
		font-size: 10px;
		padding-left: 10px;
	}
	.news{
		font-size: 10px;
	}
	.footer2{
		font-size: 10px;
	}
	.footertitle{
		font-size: 26px;
		margin-right: 40%;
	}

}
@media(max-width:576px){
	.dostavka{
		font-size: 10px;
	}
	.internet{
		font-size: 12px;
	}
	.footertitle{
		margin-right: 50%;
	
	}
	.kabinet{
		font-size: 9px;
		margin-left: -30px;
	}
	.news{
		font-size: 9px;
		margin-left: -60px;
	}
	.footer2{
		font-size: 9px;
		margin-left: -40px;
		
	}

}








